.itemDetailContainer{
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.itemDetail{
  margin-left: 10px;
}

.confirmContainer{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.confirmButton{
  padding: 10px;
  gap: 5px;
  /* padding-right: 10px; */
  border: 1px solid;
  border-color: grey;
  border-radius: 10px;
}

.confirmButton:hover{
  background-color: lightsalmon;
}
